<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996026624607-roccnjviga0sdd1jcld1ujpun5fd0an9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996026624607-roccnjviga0sdd1jcld1ujpun5fd0an9</string>
	<key>API_KEY</key>
	<string>AIzaSyBEdKb7Z3R0ytUNMFXTYlVM47HJm9JXvsk</string>
	<key>GCM_SENDER_ID</key>
	<string>996026624607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS.Victor.WeatherApp</string>
	<key>PROJECT_ID</key>
	<string>victors-weather-app</string>
	<key>STORAGE_BUCKET</key>
	<string>victors-weather-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996026624607:ios:013254fc37cd6609dfc9ea</string>
</dict>
</plist>